.individualForm{
    border: 2px solid darkgreen;
}
.person input{
    width: 100px;
    margin: 10px 0 5px 5px;
    padding: 5px;
}
.remove-btn{
    padding: 8px 20px;
    background-color: darkslategrey;
    border: none;
    color: white;
    margin: 10px;
}

.remove-btn:hover{
    background-color: #4a8484;
}

.add-btn{
    padding: 8px 20px;
    background-color: dimgrey;
    border: none;
    color: white;
    margin: 10px;
}

.add-btn:hover{
    background-color: #898585;
}

.count-btn{
    padding: 15px 25px;
    background-color: darkolivegreen;
    border: darkolivegreen;
    color: white;
    margin: 10px 30px;
    font-size: 18px;
}