.split-form{
border: 2px solid darkolivegreen;
    padding: 15px;
}

label{
    display: block;
    margin: 10px;
}

input{
    margin-left: 50px;
    width: 50px;
    padding: 5px;
}
.count-btn{
    padding: 15px 25px;
    background-color: darkolivegreen;
    border: darkolivegreen;
    color: white;
    margin: 10px 30px;
    font-size: 18px;
}
.count-btn:hover{
    padding: 15px 25px;
    background-color: darkgreen;
}
i{
    margin-right: 10px;
    color: darkgreen;
}